body {
  background-color: #84705B;
  background-image: linear-gradient(110deg, #84705B, #A18F7B, #84705B);
}
.cartContainer {
  margin-top: 3%;
  margin-left: 28.5%;
}

.divButtons button {
  margin: 4px;
  margin-left: 43%;
}

.divButtons p {
  margin-left: 42%;
}

.carritoVacio h2 {
  margin-top: 4px;
  text-align: center;
}

.carritoVacio button {
  margin-left: 45.5%;
}

.cardCart {
  max-width: 540px;
}

.cardProducto {
  width: 18rem;
  margin: 4px;
  background-color: antiquewhite;
}

.cardBody {
  background-color: #A18F7B;
  margin-bottom: 4px;
  text-align: center;
}

img {
  margin-top: 3px;
}

.cardProductos {
  margin: 4px;
  align-items: center;
  justify-content: center;
}

.itemDetail {
  max-width: 540px;
  margin-top: 20px;
}

.menuCategorias {
  background-color: #84705B;
  color:rgba(52, 58, 64, 0.8)
}
.contactoStilo {
  margin-top: 20px;
}

.cantCarrito {
  color: black;
}

.navbarColor {
  background-color: #DBD4CA;
}


